#form-etudiant {
    width: 800px;
}

#Professor {
    display: none;
}

#signature {
    width: 500px;
    height: 250px;
}

td {
    padding: auto;
}

.sig {
    width: 80px;
    height: 40px;
}

#etudiant {
    width: 800px;
    margin: auto
}